body {
    font-family: 'Raleway', sans-serif;
}

body, html {
    height: 100%;
}
  
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 600px;
}

.question-responses {
    align-items: center;
}

.question-title {
    font-weight: 600; 
}

.centered-div h1 {
    text-align: center;
}

.correct-selected {
    background-color: yellowgreen;
}

.correct-quiz-selected {
    background-color: yellowgreen;
}

.incorrect-quiz-selected {
    background-color: red;
}